## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)

print(sample_list_1)
print(f"the length of the set is {len(sample_list_1)}")

[37, 84, 68, 79, 27, 99, 56, 32, 46, 93, 54, 97, 50, 82, 11, 45, 8, 10, 49, 81, 5, 88, 28, 16, 53, 55, 6, 14, 17, 33, 36, 89, 25, 70, 69, 85, 0, 18, 65, 52, 91, 71, 87, 29, 19, 66, 21, 38, 60, 4, 39, 3, 76, 78, 75, 34, 83, 26, 31, 42, 35, 74, 72, 61, 73, 7, 95, 90, 94, 2, 1, 86, 47, 92, 48, 67, 30, 40, 41, 63]
the length of the set is 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 =set(sample_list_1)
print(set1)
print(f"the length of the set is {len(set1)}")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 14, 16, 17, 18, 19, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}
the length of the set is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
random.randrange(80)

53

In [5]:
# Your code here
sample_list_2 = [random.randrange(100) for i in range(80)]
print(sample_list_2)

[69, 15, 66, 98, 98, 50, 95, 83, 19, 89, 81, 74, 71, 91, 5, 49, 56, 61, 65, 59, 26, 41, 45, 8, 55, 67, 83, 55, 70, 26, 60, 92, 87, 64, 62, 39, 88, 57, 79, 54, 38, 78, 28, 18, 59, 33, 98, 84, 24, 63, 28, 70, 19, 14, 2, 98, 68, 72, 35, 42, 86, 4, 98, 11, 9, 7, 31, 22, 35, 11, 61, 63, 43, 3, 93, 18, 79, 40, 97, 61]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)

print(set2)
print(f"the length of sample_list_2 is {len(sample_list_2)} and the length of set2 is {len(set2)}")

print("It's not the same because in the set object, its not possible to have duplicates")

{2, 3, 4, 5, 7, 8, 9, 11, 14, 15, 18, 19, 22, 24, 26, 28, 31, 33, 35, 38, 39, 40, 41, 42, 43, 45, 49, 50, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 78, 79, 81, 83, 84, 86, 87, 88, 89, 91, 92, 93, 95, 97, 98}
the length of sample_list_2 is 80 and the length of set2 is 62
It's not the same because in the set object, its not possible to have duplicates

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = set1 - set2

print(set3)
print(f" the length of set2 is {len(set3)}")

{0, 1, 6, 10, 16, 17, 21, 25, 27, 29, 30, 32, 34, 36, 37, 46, 47, 48, 52, 53, 73, 75, 76, 82, 85, 90, 94, 99}
 the length of set2 is 28

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = set2 - set1

print(set4)
print(f" the length of set2 is {len(set4)}")

{64, 98, 9, 43, 15, 22, 24, 57, 59, 62}
 the length of set2 is 10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1 & set2

print(set3)
print(f" the length of set2 is {len(set5)}")

{0, 1, 6, 10, 16, 17, 21, 25, 27, 29, 30, 32, 34, 36, 37, 46, 47, 48, 52, 53, 73, 75, 76, 82, 85, 90, 94, 99}
 the length of set2 is 52

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [10]:
# Your code here
print(f"Some statements \nlen(set1) = {len(set1)}, len(set2) = {len(set2)}, len(set3) = {len(set3)}, len(set4) = {len(set4)}, len(set5) = {len(set5)}")

print(f"len(set1)+len(set3) = len(set5)")
print(f"len(set3)+len(set5) = len(set1)")
print(f"len(set4)+len(set3) = len(set5)")

Some statements
len(set1) = 80, len(set2) = 62, len(set3) = 28, len(set4) = 10, len(set5) = 52
len(set1)+len(set3) = len(set5)
len(set3)+len(set5) = len(set1)
len(set4)+len(set3) = len(set5)

#### Create an empty set called `set6`.

In [11]:
# Your code here

set6 = ()
type(set6)
print(set6)

()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6 =set5| set3
#set6.add(set5)
print(f"set3 is {set3}, \n\nset 5 is{set5}, \n\nset 6 is {set6}")

set3 is {0, 1, 6, 10, 16, 17, 21, 25, 27, 29, 30, 32, 34, 36, 37, 46, 47, 48, 52, 53, 73, 75, 76, 82, 85, 90, 94, 99},

set 5 is{2, 3, 4, 5, 7, 8, 11, 14, 18, 19, 26, 28, 31, 33, 35, 38, 39, 40, 41, 42, 45, 49, 50, 54, 55, 56, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 78, 79, 81, 83, 84, 86, 87, 88, 89, 91, 92, 93, 95, 97},

set 6 is {0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 14, 16, 17, 18, 19, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [14]:
# Your code here
set2  in set1

False

In [15]:
set3 in set1

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
# Your code here
set7 = set3|set4|set5


set8 = set1|set2

print(f"set7={set7} lenghth={len(set7)} \n\n set8={set8} lenghth={len(set8)}")

set7 == set8

set7={0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99} lenghth=90

 set8={0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99} lenghth=90

True

#### Using the `pop` method, remove the first element from `set1`.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 14, 16, 17, 18, 19, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}
{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 14, 16, 17, 18, 19, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

In [24]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remove = set(list_to_remove)


newset1 = set1 - remove #set 1 values with the new ones from the list_to_remove

print(f"length set1 = {len(set1)}, length list_to_remove = {len(remove)}, newset1 = {len(newset1)},")

remain = remove - set1

print(f"the remaining elements are {remain}")

length set1 = 79, length list_to_remove = 20, newset1 = 62,
the remaining elements are {9, 51, 59}